// .index-container {
// }
.nav-link {
    float: right;
    padding-left: 10px;
}

.index {
    display: flex;
    flex-wrap: wrap;
}

.index-info {
    padding-left: 20px;
    padding-right: 80px;
    margin-bottom: 40px;
}

.index-book-image {
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.30);
}

.index-book-image:hover {
    opacity: 70%;
}

.form-control {
    padding: 4px;
}

table {
    border-collapse: collapse;
    border: solid 2px burlywood;/*表全体を線で囲う*/
    margin-bottom: 10px;
}

table th{/*thに対して*/
    background: #fff5e5;/*背景色*/
}

table th, table td {
    border: solid 1px burlywood;/**/
    padding: 5px;
}

.book-container {
    display: flex;
}

.book-info {
    margin-left: 20px;
}

// .book-image {
//     box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.30);

// }

.user-container {
    display: flex;
}

.button {
    font-size: large;
    background-color: burlywood;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}

.button-delete {
    font-size: large;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
}

.button:hover {
    opacity: 80%;
}

.comment-index {
    border-color: white;
}

.rounded-circle {
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.favorite_btn {
    text-decoration: none;
    color: peru;
}

// カートページレイアウト
.flash_msg{
    text-align: center;
    color: blue;
}
.border{
    height: 0;
    border: dotted;
}
.page_title, .link{
    margin: 50px;
    text-align: center;
}


.cart_empty{
    text-align: center;
}

.carts_style{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.book_index{
    border: solid 3px;
    border-radius: 20px;
    margin-bottom: 10px;
    // background-color:rgb(196, 247, 247);
    display: inline-flex;
    .book_image{
        // display: inline-block;
        margin: 10px;
    }
    .book_details{
        margin: 10px;
        // justify-content: space-around;
        width: 300px;
        // display: inline-block;
    }

}
.price{
    border: solid 3px;
    border-radius: 20px;
    margin-left: 150px;
    padding: 10px;
    height: fit-content;
    // position: absolute;
    // background-color:rgb(253, 204, 212);
}
.payment_method{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.calrt_link{
    margin-bottom: 20px;
}